In [11]:
import pandas as pd

In [12]:
data = pd.read_csv('food_category.csv')
data

,category,food_name,쌀,찹쌀,백미,멥쌀,논벼,백미 국내산,일반형,일품,...,카레분말,돔,감성돔,ingredient_name,ingredient_gram,calorie,carbohydrate,protein,fat,cluster
0,초기 이유식,감자 미음,5.0,0.0,0.0,5.0,5.0,5.0,5.0,10.0,...,0.0,0.0,0.0,['쌀' '멥쌀' '논벼' '백미 국내산' '일반형' '일품' '감자' '생것'],[-1. -1. -1. -1. -1. 10. -1. 10.],40.299999,8.800,0.900,0.0000,1
1,초기 이유식,쇠고기 미음,5.0,0.0,0.0,5.0,5.0,5.0,5.0,10.0,...,0.0,0.0,0.0,['쌀' '멥쌀' '논벼' '백미 국내산' '일반형' '일품' '쇠고기' '한우' ...,[-1. -1. -1. -1. -1. 10. -1. -1. 10.],48.299999,7.700,3.100,6.4000,2
2,초기 이유식,기장 미음,5.0,0.0,0.0,5.0,5.0,5.0,5.0,10.0,...,0.0,0.0,0.0,['쌀' '멥쌀' '논벼' '백미 국내산' '일반형' '일품' '기장' '도정곡'],[-1. -1. -1. -1. -1. 10. -1. 5.],52.400002,11.200,1.200,0.1000,0
3,초기 이유식,청경채 미음,5.0,0.0,0.0,5.0,5.0,5.0,5.0,12.0,...,0.0,0.0,0.0,['쌀' '멥쌀' '논벼' '백미 국내산' '일반형' '일품' '청경채 중국채소'],[-1. -1. -1. -1. -1. 12. 15.],43.900002,9.600,1.000,0.1000,1
4,초기 이유식,고구마 미음,5.0,0.0,0.0,5.0,5.0,5.0,5.0,10.0,...,0.0,0.0,0.0,['쌀' '멥쌀' '논벼' '백미 국내산' '일반형' '일품' '고구마' '생것'],[-1. -1. -1. -1. -1. 10. -1. 10.],47.599998,10.700,0.800,0.1000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,이유기 간식,닭고기 연근 연두부 죽,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,['쌀' '닭고기' '연근' '연두부'],[5. 3. 3. 6.],111.350000,5.515,6.620,1.8000,10
232,이유기 간식,소고기 가지 들깨,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,['쌀' '소고기' '가지' '들깨가루'],[8. 6. 3. 1.6],83.900000,7.750,5.850,3.2350,10
233,이유기 간식,건포도 양배추 치즈,7.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,['쌀' '양배추' '건포도' '아기치즈'],[7.5 3. 2.5 1.5],46.900000,8.315,0.910,0.1325,12
234,이유기 간식,소고기 아스파라거스 케일 죽,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,['쌀' '소고기' '아스파라거스' '케일'],[5. 3. 1.5 1.5],32.500000,4.850,1.625,0.1950,12
235,이유기 간식,소고기 검은콩 퀴노아,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,['쌀' '소고기' '검은콩가루' '퀴노아가루'],[5. 3. 0.5 0.5],33.000000,4.900,1.575,0.2650,12

In [13]:
import glob
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd

key_path = glob.glob('jnu-team-03-2-85b8ae74d8b7.json')[0]

# BigQuery 클라이언트 초기화


credentials = service_account.Credentials.from_service_account_file(key_path)
client = bigquery.Client(credentials=credentials, project = credentials.project_id)
# 쿼리 작성
query = """
select * from `jnu-team-03-2.kipl_bigquery_database.menu_board`
"""
df = client.query(query).to_dataframe()
df

   person_id                                               menu
0  test_user  [{'day': 1, 'morning': '쌀 미음', 'lunch': '쌀 미음'...

In [14]:
menu = df['menu']
menu = menu.iloc[0]
menu = pd.DataFrame(menu)

#menu['day'] 

day_list = []
for k in range(0,180):
    day = menu.iloc[k,0]['day']
    day_list.append(day)
    
board = pd.DataFrame()
board['day'] = day_list

morning_list = []
for k in range(0,180):
    morning = menu.iloc[k,0]['morning']
    morning_list.append(morning)
board['morning'] = morning_list

lunch_list = []
for k in range(0,180):
    lunch = menu.iloc[k,0]['lunch']
    lunch_list.append(lunch)
board['lunch'] = lunch_list

dinner_list = []
for k in range(0,180):
    dinner = menu.iloc[k,0]['dinner']
    dinner_list.append(dinner)
board['dinner'] = dinner_list
board

     day     morning           lunch     dinner
0      1        쌀 미음            쌀 미음       쌀 미음
1      2        쌀 미음            쌀 미음       쌀 미음
2      3        쌀 미음            쌀 미음       쌀 미음
3      4       찹쌀 미음           찹쌀 미음      찹쌀 미음
4      5       찹쌀 미음           찹쌀 미음      찹쌀 미음
..   ...         ...             ...        ...
175  176  소고기 단호박 케일       대구살 애호박 무   게살 두부 당근
176  177  소고기 단호박 케일       대구살 애호박 무   게살 두부 당근
177  178  소고기 어린잎 가지  닭고기 파프리카 부추 치즈  대구살 콩나물 톳
178  179  소고기 어린잎 가지  닭고기 파프리카 부추 치즈  대구살 콩나물 톳
179  180  소고기 어린잎 가지  닭고기 파프리카 부추 치즈  대구살 콩나물 톳

[180 rows x 4 columns]

In [15]:
board.to_csv('menu.csv',index=False)

In [5]:
for k in range(0,180):
    food = board.iloc[k,1]
    match = data[data['food_name'] == food]
    if not match.empty:
        cluster = data[data['food_name'] == food]['cluster'].values[0]
        board.iloc[k,1] = cluster
    else:
        pass

In [6]:
for k in range(0,180):
    food = board.iloc[k,2]
    match = data[data['food_name'] == food]
    if not match.empty:
        cluster = data[data['food_name'] == food]['cluster'].values[0]
        board.iloc[k,2] = cluster
    else:
        pass

In [7]:
for k in range(0,180):
    food = board.iloc[k,3]
    match = data[data['food_name'] == food]
    if not match.empty:
        cluster = data[data['food_name'] == food]['cluster'].values[0]
        board.iloc[k,3] = cluster
    else:
        pass

In [8]:
board

     day morning lunch dinner
0      1       4     4      4
1      2       4     4      4
2      3       4     4      4
3      4       7     7      7
4      5       7     7      7
..   ...     ...   ...    ...
175  176      10    12     10
176  177      10    12     10
177  178      12    12     12
178  179      12    12     12
179  180      12    12     12

[180 rows x 4 columns]

In [9]:
board.to_csv('menu_category.csv', index=False)