In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "edited_adult_food.csv"

In [3]:
df = pd.read_csv(file_path)

In [4]:
display(df)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.50,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
495,NaN,설탕,3,NaN,NaN,NaN,NaN
496,NaN,진간장,1,NaN,NaN,NaN,NaN
497,풋고추 된장 무침,고추,4,123.64,2.37,7.35,12.00
498,NaN,된장,1,NaN,NaN,NaN,NaN
499,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [5]:
df_copy = df.copy()

In [6]:
df_copy.index = range(df.shape[0], df.shape[0] + df_copy.shape[0])

In [7]:
display(df)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.50,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
495,NaN,설탕,3,NaN,NaN,NaN,NaN
496,NaN,진간장,1,NaN,NaN,NaN,NaN
497,풋고추 된장 무침,고추,4,123.64,2.37,7.35,12.00
498,NaN,된장,1,NaN,NaN,NaN,NaN
499,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [8]:
columns_to_convert = ['calorie', 'protein', 'fat', 'carbohydrate']

df_copy[columns_to_convert] = df_copy[columns_to_convert].replace([np.inf, -np.inf], np.nan)
# df_copy[columns_to_convert] = df_copy[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [9]:
for col in columns_to_convert:
    df_copy[col] = df_copy[col].apply(lambda x: int(x) if pd.notna(x) else x)

In [10]:
display(df_copy)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
500,참꼬막,참꼬막,1,90.0,12.0,2.0,4.0
501,NaN,쪽파,3,NaN,NaN,NaN,NaN
502,NaN,마늘,2,NaN,NaN,NaN,NaN
503,NaN,진간장,5,NaN,NaN,NaN,NaN
504,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
995,NaN,설탕,3,NaN,NaN,NaN,NaN
996,NaN,진간장,1,NaN,NaN,NaN,NaN
997,풋고추 된장 무침,고추,4,123.0,2.0,7.0,12.0
998,NaN,된장,1,NaN,NaN,NaN,NaN
999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [11]:
df = pd.concat([df, df_copy])

In [12]:
display(df)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
995,NaN,설탕,3,NaN,NaN,NaN,NaN
996,NaN,진간장,1,NaN,NaN,NaN,NaN
997,풋고추 된장 무침,고추,4,123.00,2.00,7.0,12.00
998,NaN,된장,1,NaN,NaN,NaN,NaN
999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [13]:
start_row = 0
end_row = 1000

copied_data = df.iloc[start_row:end_row].copy()
data = pd.concat([df, copied_data], ignore_index=True)

In [14]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1995,NaN,설탕,3,NaN,NaN,NaN,NaN
1996,NaN,진간장,1,NaN,NaN,NaN,NaN
1997,풋고추 된장 무침,고추,4,123.00,2.00,7.0,12.00
1998,NaN,된장,1,NaN,NaN,NaN,NaN
1999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [15]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[1000:1999, column] = data.loc[1000:1999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [16]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1995,NaN,설탕,3,NaN,NaN,NaN,NaN
1996,NaN,진간장,1,NaN,NaN,NaN,NaN
1997,풋고추 된장 무침,고추,4,124.00,3.00,8.0,13.00
1998,NaN,된장,1,NaN,NaN,NaN,NaN
1999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [17]:
data_copy = data.copy()

In [18]:
data_copy.index = range(data.shape[0], data.shape[0] + data_copy.shape[0])

In [19]:
data = pd.concat([data, data_copy])

In [20]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3995,NaN,설탕,3,NaN,NaN,NaN,NaN
3996,NaN,진간장,1,NaN,NaN,NaN,NaN
3997,풋고추 된장 무침,고추,4,124.00,3.00,8.0,13.00
3998,NaN,된장,1,NaN,NaN,NaN,NaN
3999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [21]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[2000:3999, column] = data.loc[2000:3999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [22]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3995,NaN,설탕,3,NaN,NaN,NaN,NaN
3996,NaN,진간장,1,NaN,NaN,NaN,NaN
3997,풋고추 된장 무침,고추,4,125.00,4.00,9.0,14.00
3998,NaN,된장,1,NaN,NaN,NaN,NaN
3999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [23]:
data_copy = data.copy()

In [24]:
data_copy.index = range(data.shape[0], data.shape[0] + data_copy.shape[0])

In [25]:
data = pd.concat([data, data_copy])

In [26]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
7995,NaN,설탕,3,NaN,NaN,NaN,NaN
7996,NaN,진간장,1,NaN,NaN,NaN,NaN
7997,풋고추 된장 무침,고추,4,125.00,4.00,9.0,14.00
7998,NaN,된장,1,NaN,NaN,NaN,NaN
7999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [27]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[4000:7999, column] = data.loc[4000:7999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [28]:
data_copy = data.copy()

In [29]:
data_copy.index = range(data.shape[0], data.shape[0] + data_copy.shape[0])

In [30]:
data = pd.concat([data, data_copy])

In [31]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
15995,NaN,설탕,3,NaN,NaN,NaN,NaN
15996,NaN,진간장,1,NaN,NaN,NaN,NaN
15997,풋고추 된장 무침,고추,4,126.00,5.00,10.0,15.00
15998,NaN,된장,1,NaN,NaN,NaN,NaN
15999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [32]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[8000:15999, column] = data.loc[8000:15999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [33]:
data_copy = data.copy()

In [34]:
data_copy.index = range(data.shape[0], data.shape[0] + data_copy.shape[0])

In [35]:
data = pd.concat([data, data_copy])

In [36]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
31995,NaN,설탕,3,NaN,NaN,NaN,NaN
31996,NaN,진간장,1,NaN,NaN,NaN,NaN
31997,풋고추 된장 무침,고추,4,127.00,6.00,11.0,16.00
31998,NaN,된장,1,NaN,NaN,NaN,NaN
31999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [37]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[16000:31999, column] = data.loc[16000:31999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [38]:
data_copy = data.copy()

In [39]:
data_copy.index = range(data.shape[0], data.shape[0] + data_copy.shape[0])

In [40]:
data = pd.concat([data, data_copy])

In [41]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
63995,NaN,설탕,3,NaN,NaN,NaN,NaN
63996,NaN,진간장,1,NaN,NaN,NaN,NaN
63997,풋고추 된장 무침,고추,4,128.00,7.00,12.0,17.00
63998,NaN,된장,1,NaN,NaN,NaN,NaN
63999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [42]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[32000:63999, column] = data.loc[32000:63999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [43]:
data_copy = data.copy()

In [44]:
data_copy.index = range(data.shape[0], data.shape[0] + data_copy.shape[0])

In [45]:
data = pd.concat([data, data_copy])

In [46]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
127995,NaN,설탕,3,NaN,NaN,NaN,NaN
127996,NaN,진간장,1,NaN,NaN,NaN,NaN
127997,풋고추 된장 무침,고추,4,129.00,8.00,13.0,18.00
127998,NaN,된장,1,NaN,NaN,NaN,NaN
127999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [47]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[64000:127999, column] = data.loc[64000:127999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [48]:
data_copy = data.copy()

In [49]:
data_copy.index = range(data.shape[0], data.shape[0] + data_copy.shape[0])

In [50]:
data = pd.concat([data, data_copy])

In [51]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
255995,NaN,설탕,3,NaN,NaN,NaN,NaN
255996,NaN,진간장,1,NaN,NaN,NaN,NaN
255997,풋고추 된장 무침,고추,4,130.00,9.00,14.0,19.00
255998,NaN,된장,1,NaN,NaN,NaN,NaN
255999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [52]:
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[128000:255999, column] = data.loc[128000:259999, column].apply(lambda x: x + 1 if isinstance(x, (float, int)) else x)

In [53]:
# [240000:259999 rows] calroie, protein, fat, carbohydrate + 1000
columns_to_update = ['calorie', 'protein', 'fat', 'carbohydrate']

for column in columns_to_update:
    data.loc[240000:255999, column] = data.loc[240000:259999, column].apply(lambda x: x + 1000 if isinstance(x, (float, int)) else x)

In [54]:
display(data)

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
0,참꼬막,참꼬막,1,90.79,12.47,2.5,4.59
1,NaN,쪽파,3,NaN,NaN,NaN,NaN
2,NaN,마늘,2,NaN,NaN,NaN,NaN
3,NaN,진간장,5,NaN,NaN,NaN,NaN
4,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
255995,NaN,설탕,3,NaN,NaN,NaN,NaN
255996,NaN,진간장,1,NaN,NaN,NaN,NaN
255997,풋고추 된장 무침,고추,4,1131.00,1010.00,1015.0,1020.00
255998,NaN,된장,1,NaN,NaN,NaN,NaN
255999,NaN,쌈장,1,NaN,NaN,NaN,NaN

In [55]:
# # [220000:239999 rows] calroie, protein, fat, carbohydrate의 값들을 0.1에서 1사이의 랜덤값으로 교체
# minimum_test_data = {
#     'calorie': range(220000, 240000),
#     'protein': range(220000, 240000),
#     'fat': range(220000, 240000),
#     'carbohydrate': range(220000, 240000)
# }

# mtd = pd.DataFrame(minimum_test_data)

# rows_to_change = mtd.index.isin(range(20000))
# columns_to_change = ['calorie', 'protein', 'fat', 'carbohydrate']

# mtd.loc[rows_to_change, columns_to_change] = np.random.uniform(0.1, 1.0, size=(20000, len(columns_to_change)))

In [56]:
# display(mtd)

In [57]:
# data.loc[220000:240000]

In [58]:
# [220000:239999 rows] 0.1에서 1사이의 랜덤한 값으로 calroie, protein, fat, carbohydrate의 기존값 대체
for col in ['calorie', 'protein', 'fat', 'carbohydrate']:
    mask = (data.index >= 220000) & (data.index <= 239999) & data[col].notna()
    random_values = np.random.uniform(0.1, 1, size=mask.sum())
    data.loc[mask, col] = random_values

In [59]:
data.loc[220000:240000]

,food_name,ingredient_name,ingredient_gram,calorie,protein,fat,carbohydrate
220000,참꼬막,참꼬막,1,0.805621,0.782671,0.532514,0.134915
220001,NaN,쪽파,3,NaN,NaN,NaN,NaN
220002,NaN,마늘,2,NaN,NaN,NaN,NaN
220003,NaN,진간장,5,NaN,NaN,NaN,NaN
220004,NaN,매실청,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
239996,NaN,진간장,1,NaN,NaN,NaN,NaN
239997,풋고추 된장 무침,고추,4,0.939914,0.346843,0.620178,0.757397
239998,NaN,된장,1,NaN,NaN,NaN,NaN
239999,NaN,쌈장,1,NaN,NaN,NaN,NaN
240000,참꼬막,참꼬막,1,1094.790000,1016.470000,1006.500000,1008.590000

In [60]:
# data.to_json("final_adult_data.json", orient="split")

In [61]:
# data.to_csv("final_adult_data.csv", index=True)

In [62]:
adult_result_df = pd.DataFrame(columns = ["food_name", "ingredient_name", "ingredient_gram", "calorie", "carbohydrate", "protein", "fat"])
flag = False

In [63]:
cnt = 0

for row in data.iterrows():
    if type(row[1]["food_name"]) == type(""):
        if(flag):
            adult_result_df.loc[cnt] = [food_name, ingredient_name, ingredient_gram, calorie, carbohydrate, protein, fat]
            cnt += 1
            
        food_name = row[1]["food_name"]
        calorie = row[1]["calorie"]
        carbohydrate = row[1]["carbohydrate"]
        protein = row[1]["protein"]
        fat = row[1]["fat"]
        
        ingredient_name = [row[1]["ingredient_name"]]
        ingredient_gram = [row[1]["ingredient_gram"]]
        flag = True
    else:
        ingredient_name.append(row[1]["ingredient_name"])
        ingredient_gram.append(row[1]["ingredient_gram"])

In [64]:
adult_result_df.loc[cnt] = [food_name, ingredient_name, ingredient_gram, calorie, carbohydrate, protein, fat]

In [65]:
display(adult_result_df)

,food_name,ingredient_name,ingredient_gram,calorie,carbohydrate,protein,fat
0,참꼬막,"[참꼬막, 쪽파, 마늘, 진간장, 매실청, 고추가루, 참기름, 참깨]","[1, 3, 2, 5, 1, 1, 1, 1]",90.79,4.59,12.47,2.50
1,부추 전,"[부추, 당근, 새우, 고추, 식용유, 부침가루, 물, 멸치액젓, 다진마늘]","[200, 1, 10, 4, 3, 1, 1, 1, 1]",251.22,41.79,6.95,6.25
2,핫 초코,"[우유, 생크림, 슈가파우더, 에소프레소 파우더, 초코렛]","[1, 1, 2, 1, 8]",331.00,58.00,9.00,7.00
3,감자 튀김,"[감자, 소금, 올리브유, 파슬리가루]","[3, 0, 2, 0]",220.00,34.00,3.00,8.00
4,매콤 제육 볶음,"[만능 고추장, 삼겹살, 당근, 대파, 양파, 마늘, 고추가루]","[1, 2, 1, 1, 2, 1, 1]",173.00,13.00,10.00,9.00
...,...,...,...,...,...,...,...
33787,열무 김치,"[열무, 사과, 양파, 고추, 감자, 밑국물, 대파, 다진마늘, 고추가루, 멸치액젓...","[1, 1, 1, 8, 2, 1, 1, 3, 4, 5, 2, 3, 4]",1018.00,1008.00,1008.00,1008.00
33788,월남 쌈,"[라이스페이퍼, 양파, 파프리카, 깻잎, 당근, 칵테일새우, 버터, 칠리소스, 오이]","[10, 1, 1, 10, 1, 240, 1, 1, 1]",1301.00,1038.00,1022.00,1020.00
33789,마늘쫑 볶음,"[마늘쫑, 간장, 물엿, 식용유, 땡초, 물]","[1, 4, 2, 1, 3, 3]",1131.00,1026.00,1012.00,1011.00
33790,치킨 데리야끼,"[닭고기, 식용유, 전분, 맛술, 설탕, 진간장]","[250, 1, 1, 75, 3, 1]",1120.00,1016.00,1019.00,1012.00
33791,풋고추 된장 무침,"[고추, 된장, 쌈장]","[4, 1, 1]",1131.00,1020.00,1010.00,1015.00

In [66]:
adult_result_df.to_json("final_adult_data.json", orient="split")